# ------------ 12 MHz clock --------------------------------------------------- 
set_io i_clk 21

# ------------ PMOD Header ----------------------------------------------------



set_io MCLK 87     
set_io LRCLK 88    
set_io BLCK 90     
set_io SDATA 91    

set_io SPDIF_IN 81
set_io SPDIF_DBG 95

