# ------------ 12 MHz clock --------------------------------------------------- 
set_io i_clk 21

# ------------ PMOD Header ----------------------------------------------------

set_io LRCLK 81       # PMOD_2
set_io SDATA 80      # PMOD_3
set_io BLCK 79        # PMOD_4

