# ------------ 12 MHz clock --------------------------------------------------- 
set_io i_clk 21

# ------------ PMOD Header ----------------------------------------------------



set_io MCLK 78        # PMOD_1
set_io LRCLK 79       # PMOD_2
set_io BLCK 80        # PMOD_3
set_io SDATA 81       # PMOD_4

