# ------------ 12 MHz clock --------------------------------------------------- 
set_io CLK_i 21

# ------------ Pmod 2x6 connector --------------------------------------------- 
# set_io PMOD_1   78
# set_io PMOD_2   79
# set_io PMOD_3   80
# set_io PMOD_4   81

# ------------ User Leds ------------------------------------------------------
set_io  D1  99
set_io  D2  98
set_io  D3  97
set_io  D4  96
set_io  D5  95

# --- FTDI 1: (Serial port)
# set_io --warn-no-port DCD 1
# set_io --warn-no-port DSR 2
# set_io --warn-no-port DTR 3
# set_io --warn-no-port CTS 4
# set_io --warn-no-port RTS 7
set_io --warn-no-port TX_TO_FTDI  8
set_io --warn-no-port RX_FROM_FTDI  9
